In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 4000)

In [3]:
data = pd.read_csv("data/delaysAirports.csv", sep=",")
data.head(5)

,year,month,carrier,depAirport,totalFlights,totalDelayedFlights,totalDelay,airport,city,state,lat,long
0,2008,8,Delta Airlines Inc. (DL),FAI,17,8,112,Fairbanks International,Fairbanks,AK,64.813677,-147.859669
1,2008,2,Alaska Airlines Inc. (AS),FAI,365,86,3409,Fairbanks International,Fairbanks,AK,64.813677,-147.859669
2,1998,3,Delta Airlines Inc. (DL),FAI,61,16,168,Fairbanks International,Fairbanks,AK,64.813677,-147.859669
3,2008,5,Northwest Airlines Inc. (NW),FAI,22,7,286,Fairbanks International,Fairbanks,AK,64.813677,-147.859669
4,1997,5,Alaska Airlines Inc. (AS),FAI,350,70,2021,Fairbanks International,Fairbanks,AK,64.813677,-147.859669

In [13]:
len(data.airport.unique())

347

In [14]:
airports = ['Lewiston-Nez Perce County','Los Angeles International', 'Laredo International','Valley International', 'Charleston AFB/International','Tampa International ', 'Norfolk International', 'Portland Intl','Pittsburgh International', 'William B Hartsfield-Atlanta Intl','Jacksonville International', 'Daytona Beach International','Joe Foss ', 'Sarasota Bradenton International','Birmingham International', 'Bradley International','Minneapolis-St Paul Intl', 'Port Columbus Intl','McCarran International', 'Buffalo Niagara Intl','San Antonio International', 'John Wayne /Orange Co',"Chicago O'Hare International", 'Miami International','Piedmont Triad International', 'Reno/Tahoe International','Kent County International', 'Lehigh Valley International',"Fort Lauderdale-Hollywood Int'l", 'Dallas Love ','Southwest Florida International', 'Kansas City International','Greenbrier Valley', 'Honolulu International','Cleveland-Hopkins Intl', 'Gallatin ', 'Will Rogers World','Tulsa International', 'Sitka', 'Mbs International','Indianapolis International', 'Ronald Reagan Washington National','Lambert-St Louis International', 'Eppley Airfield','Gen Edw L Logan Intl', 'Newark Intl', 'Pensacola Regional','General Mitchell International','Ted Stevens Anchorage International', 'Stewart','Great Falls Intl', 'Santa Barbara Municipal', 'Boise Air Terminal','Billings Logan Intl', 'Albuquerque International','Fayetteville Municipal', 'San Diego International-Lindbergh ','Louisville International-Standiford ', 'Richmond International','Wilmington International', 'Ontario International','Idaho Falls Regional', 'St George Muni','Roanoke Regional/ Woodrum ', 'Helena Regional','Sacramento International', 'Monroe Regional','Cincinnati Northern Kentucky Intl', 'Dane County Regional','Huntsville International ', 'Detroit Metropolitan-Wayne County','San Francisco International', 'Greater Peoria Regional','Melbourne International ', 'Grand Forks International','Tucson International', 'Syracuse-Hancock Intl', 'Adams ','Portland International Jetport', 'Lake Tahoe','Fresno Yosemite International', 'New Orleans International ','Albany Cty', 'McGhee-Tyson', 'Key West International','Fort Wayne International', 'Metropolitan Oakland International','Glacier Park Intl', 'Orlando International', 'Kahului','William P Hobby', 'Raleigh-Durham International', 'LaGuardia','Seattle-Tacoma Intl', 'Gulfport-Biloxi Regional', 'Eastern Iowa ','Middle Georgia Regional', 'Phoenix Sky Harbor International','Wichita Mid-Continent', 'Midland International','Austin Straubel International', 'Kalamazoo County','Westchester Cty', 'Juneau International','Dallas-Fort Worth International', 'Palm Beach International','Baltimore-Washington International','Washington Dulles International', 'Northwest Arkansas Regional','Theodore F Green State', 'Bismarck Municipal','Palm Springs International', 'Blue Grass ', 'Yampa Valley','Columbia Metropolitan', 'Luis Munoz Marin International','Burbank-Glendale-Pasadena', 'Philadelphia Intl','Tri-Cities Regional', 'Chicago Midway', 'Henry E. Rohlsen ','Nashville International', 'Durango-La Plata County','Long Beach (Daugherty )', 'Charlotte/Douglas International','Evansville Regional', 'Cyril E. King', 'San Jose International','Killeen Municipal', 'Burlington International', 'Wrangell','Salt Lake City Intl', 'Myrtle Beach International','Tallahassee Regional', 'Jackson International','Greenville-Spartanburg', 'Rapid City Regional','City of Colorado Springs Muni', "Greater Rochester Int'l",'Amarillo International', 'Denver Intl', 'Savannah International','Lubbock International', 'Asheville Regional','Santa Maria Pub/Capt G Allan Hancock ', 'Des Moines International','Newport News/Williamsburg International','George Bush Intercontinental', 'Montgomery Regional Apt','Cherry Capital', 'Austin-Bergstrom International', 'Mahlon Sweet ','Memphis International', 'Worcester Regional','Hector International', 'Albert J Ellis', 'Tweed-New Haven','Bert Mooney', 'John F Kennedy Intl', 'Harrisburg Intl','Jackson Hole', 'Capital', 'Minot International', 'Detroit City','Corpus Christi International', 'Key ', 'Cedar City Muni','Long Island - MacArthur', 'Eagle County Regional','Robert Gray AAF', 'Duluth International','Houghton County Memorial', 'Wiley Post Will Rogers Memorial','El Paso International', 'Lovell ', 'Manchester', 'Mobile Regional','James M Cox Dayton Intl', 'Sioux Gateway ', 'Bangor International','Charlottesville-Albermarle','Brownsville/S.Padre Island International', 'Spokane Intl','Gustavus', 'Capital City', 'King Salmon', 'Akron-Canton Regional','Wilkes-Barre/Scranton Intl', 'Deadhorse','Rochester International', 'Panama City-Bay County International','La Crosse Municipal', 'Outagamie County Regional','University of Illinois-Willard', 'Fort Smith Regional', 'Bush ','Springfield-Branson Regional', 'Texarkana Regional-Webb ', 'Lihue','James C. Johnson Petersburg', 'Bellingham Intl','Tri-State/Walker-Long ', 'Rafael Hernandez','Alexandria International', 'Lincoln Municipal','Marquette County Airport', 'Unalaska', 'Dillingham','Shreveport Regional', 'Atlantic City International','Kona International At Keahole','St. Petersburg-Clearwater International', 'South Bend Regional','Natrona County Intl', 'Binghamton Regional','Southwest Georgia Regional', 'Monterey Peninsula','San Angelo Regional /Mathis ', 'Oxnard', 'Central Wisconsin','Waco Regional', 'Gunnison County', 'Meadows ', 'Nome','Tyler Pounds ', 'Chico Municipal', 'Tri-Cities', 'Bishop','Erie Intl', 'University Park', 'Southeast Texas Regional','Craven County Regional', 'Joslin Field - Magic Valley','Mercedita', 'Eglin Air Force Base','Roswell Industrial Air Center', 'Baton Rouge Metropolitan, Ryan ','Kinston Regional Jetport At Stallin', 'Montrose Regional','Lake Charles Regional', 'Nantucket Memorial','Central Illinois Regional', 'Missoula International','MC Clellan-Palomar Airport', 'Pocatello Regional','Lafayette Regional', 'Toledo Express','Rogue Valley International', 'Ketchikan International', 'Bethel','Merle K (Mudhole) Smith', 'Hilo International', 'Quad City','Walker ', 'Gainesville Regional','Modesto City-County-Harry Sham ', 'Yuma MCAS-Yuma International','Ellington ', 'McAllen Miller International', "St. Mary's",'Ralph Wien Memorial', 'Lawton-Ft Sill Regional', 'Yakutat','Flagstaff Pulliam', 'Grand Canyon National Park','Golden Triangle Regional', 'Redding Municipal', 'Pueblo Memorial','Jack McNamara ', 'Elmira/Corning Regional', 'Easterwood ','Abilene Regional', 'Lynchburg Municipal-Preston Glenn ','Prachinburi', 'Palmdale Production Flight', 'Buchanan ','Waterloo Municipal', 'San Luis Obispo Co-McChesney ','Tinian International Airport', 'Glynco Jetport', 'Stockton Metro','Dubuque Municipal', 'Gregg County', 'Yeager', 'Florence Regional','Babelthoup/Koror', 'Dothan ', 'Tompkins Cty ','Yellowstone Regional', 'Imperial County', 'Roberts ','Sheppard AFB/Wichita Falls Municipal', 'Visalia Municipal','Naples Municipal', 'Oneida Cty', 'Kodiak ', 'Yap International','Lanai', 'Moore County', 'Friedman Memorial', 'Guam International','Victoria Regional', 'Gillette-Campbell County','Valdosta Regional', 'Yellowstone', 'Inyokern', 'Elko Regional','Columbus Metropolitan', 'Bemidji-Beltrami County','Chippewa Valley Regional', 'Adak', 'Arcata', 'Aniak','Rock Springs-Sweetwater County', 'Yakima Air Terminal','Florida Keys Marathon', 'McNary Fld', 'Cheyenne', 'Hilton Head','Grand Forks AFB', 'Aspen-Pitkin Co/Sardy ', 'Benedum','New Castle County ', 'Rhinelander-Oneida County','Falls International', 'Telluride Regional', 'Molokai','Pierre Regional', 'Klamath Falls International', 'North Bend Muni','Boeing Field/King County Intl', 'Muskegon County','Tupelo Municipal ', 'Greater Rockford', 'Trenton-Mercer County ','Pellston Regional  of Emmet County', 'Hickory Municipal','Four Corners Regional', 'Forbes ', 'Provo Muni', 'Ogden-Hinckley','Eugenio Maria De Hostos', 'Minot AFB', 'Mid Delta Regional','Scotts Bluff County', 'Downtown']

In [16]:
sz = data.groupby(['airport', 'lat', 'long'])['totalFlights', 'totalDelayedFlights'].sum()
sz = sz.reset_index()
sz.head(5)

,airport,lat,long,totalFlights,totalDelayedFlights
0,Abilene Regional,32.411320,-99.681897,21202,4188
1,Adak,51.877964,-176.646031,541,338
2,Adams,34.729396,-92.224246,325288,107199
3,Akron-Canton Regional,40.916312,-81.442466,78926,24224
4,Albany Cty,42.748119,-73.802979,287140,108064

In [20]:
sz['delayedFlightsPercentage'] = np.where(sz['airport']=='Fairbanks International', 
(sz['totalDelayedFlights']/sz['totalFlights']), sz['totalDelayedFlights'])

for airport in airports:
    sz['delayedFlightsPercentage'] = np.where(sz['airport']==airport, 
        (sz['totalDelayedFlights']/sz['totalFlights']), sz['delayedFlightsPercentage'])

sz.head(5)

,airport,lat,long,totalFlights,totalDelayedFlights,delayedFlightsPercentage
0,Abilene Regional,32.411320,-99.681897,21202,4188,0.197529
1,Adak,51.877964,-176.646031,541,338,0.624769
2,Adams,34.729396,-92.224246,325288,107199,0.329551
3,Akron-Canton Regional,40.916312,-81.442466,78926,24224,0.306920
4,Albany Cty,42.748119,-73.802979,287140,108064,0.376346

In [18]:
sz.to_csv('data/delayedFlightsPercentagePerAirport.csv', index=False, header=True, encoding='utf-8')